version: "3.9"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bskmedia
    ports:
      - "5432:5432"
    volumes:
      - bskmedia_pg:/var/lib/postgresql/data
volumes:
  bskmedia_pg:
